# Database
DATABASE_URL="postgresql://username:password@localhost:5432/citycitypass?schema=public"

# JWT Secret
JWT_SECRET="Yx9kP2mQ3nL5wB7vF8rT1hJ4sD6eR0gH"

# Server
PORT=3001

# 高德地图 API（用于地理编码）
AMAP_KEY="b4a9ed33784ddcfb7265d1e1b988cc75"
